<h1>Szczegóły i lista zadań {{user.fullName}}</h1>


<div class="row">
    <div class="col-6">
        <app-information-user-child [fullName]="user.fullName" 
        [email]="user.email"
        [id]="user.id"
        [phone]="user.phone"
        [website]="user.website"></app-information-user-child>
    </div>
    <div class="col-6">
        <app-todo-items-child [items]="todoItems"></app-todo-items-child>
    </div>
</div>

<app-buttons-child #formRef (editBtnEmitter)="goToEdit($event)" (backBtnEmitter)="goBack()"></app-buttons-child>