<h4>Lista użytkowników</h4>

<div *ngIf="isErrorOccured" class="alert alert-danger">
    Wystąpił błąd w pobieraniu!
</div>

<div class="row">
    <div class="col-4">
        <button (click)="changeDisplay()" class="btn btn-secondary">
            Zmień sposób wyświetlania
        </button>
    </div>
</div>

<div class="col-6" style="margin-top:10px">
    <h6>Wyszukaj po frazie:</h6>
    <input #input_text type="text" class="form-control" (keyup)="search(input_text.value)" />
</div>

<div *ngIf="removedUser" class="alert alert-danger">
    Usunięto użytkownika {{ removedUser }}
</div>

<table *ngIf="isTableOptionVisible" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>WWW</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" [ngClass]="getCssClass(user)">
            <td>{{user.id }}</td>
            <td [innerHTML]="user.fullName! | alternativeCasing | highlightSearched : input_text.value"></td>
            <td [innerHTML]="user.email | highlightSearched : input_text.value">{{user.email | uppercase}}</td>
            <td>{{user.phone }}</td>
            <td>{{user.website}}</td>
            <td>
                <button [routerLink]="'/edit-users/'+ user.id" 
                class="btn btn-warning">
                    Edycja
                </button>
                <button (click)="deleteUser(user.id)" class="btn btn-danger">
                    Usuń
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="!isTableOptionVisible">
    <div *ngFor="let user of users">
        <h5>{{user.fullName}}</h5>
        <p>{{user.email}}</p>
        <button (click)="editUser(user.id)" class="btn btn-warning">
            Edytuj
        </button>
        <button (click)="deleteUser(user.id)" class="btn btn-danger">
            Usuń
        </button>
    </div>
</ng-container>