<div *ngIf="isEditForm;then editFormTemplate else addFormTemplate"></div>

<ng-template #editFormTemplate>
    <p>Jesteś w trybie edycji!</p>
</ng-template>
<ng-template #addFormTemplate>
    <p>Jesteś w trybie dodawania!</p>
</ng-template>

<form #form="ngForm" (ngSubmit)="validate(form)">
    <div>
        <label class="form-label">
            Imię i nazwisko
        </label>
        <input #name_input="ngModel" required [(ngModel)]="user.fullName" name="fullName" class="form-control"
            type="text" />
        <div *ngIf="name_input.invalid && name_input.touched" class="text-error-info">Pole jest wymagane</div>
    </div>

    <div>
        <label class="form-label">
            Email
        </label>
        <input #email_input="ngModel" required email [(ngModel)]="user.email" name="email" class="form-control"
            type="email" />
        <div *ngIf="email_input.invalid" class="text-error-info">
            <p *ngIf="email_input.errors?.['required']">Pole jest wymagane</p>
            <p *ngIf="email_input.errors?.['email']">Email musi zawierać znak @</p>
        </div>
    </div>

    <div>
        <label class="form-label">Numer telefonu</label>
        <input #phone_input="ngModel" class="form-control" type="text" [(ngModel)]="user.phone" name="phone" required
            pattern="\d{7,15}" />
        <div *ngIf="phone_input.invalid" class="text-error-info">
            <p *ngIf="phone_input.errors?.['required']">Pole jest wymagane</p>
            <p *ngIf="phone_input.errors?.['pattern']">Wartość nie jest numerem telefonu</p>
        </div>
    </div>

    <div>
        <label class="form-label">
            WWW
        </label>
        <select #website_input="ngModel" required class="form-control" [(ngModel)]="user.website" name="website">
            <option [ngValue]="null">---Wybierz stronę---</option>
            <option [value]="website" *ngFor="let website of websites">{{website}}</option>
        </select>
        <div class="text-error-info" *ngIf="website_input.invalid">Strona musi być wybrana</div>
    </div>

    <div class="col-auto">
        <label class="form-label">Czy użytkownik aktywny?</label>
        <input style="margin-left:10px" type="checkbox" [(ngModel)]="user.isActive" name="isActive" />

    </div>

    <div style="margin-top:10px">
        <button [disabled]="isSubmitting" class="btn btn-outline-success">
            <span *ngIf="isSubmitting" class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            Zapisz
        </button>
        <button style="margin-left:10px" type="button" class="btn btn-outline-secondary" (click)="setDefaultValues()">
            Wprowadź przykładowe dane
        </button>
        <button style="margin-left:10px" type="reset" class="btn btn-outline-primary">
            Reset
        </button>
    </div>
</form>

<div *ngIf="isValidationFailed" style="margin-top:10px" class="alert alert-danger">
    Wystąpił błąd walidacji!
</div>

<div *ngIf="isSuccessfulResponse" style="margin-top:10px" class="alert alert-success">
    {{formSuccessText}}
</div>

<div *ngIf="isErrorResponse" style="margin-top:10px" class="alert alert-danger">
    Wystąpił błąd w dodawaniu!
</div>